@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Экспорт</h1>
<hr />
<div class="row">
<div class="col-md-4">
    <form asp-action="Index">
        <div class="form-group">
            <label class="control-label"></label>
            <select class="form-control" asp-items="ViewBag.GroupId" name="Id"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Экспорт" class="btn btn-primary"/>
        </div>
    </form>
</div>
</div>
