@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Приветствую вас в подсистеме рационализации учебной деятельности образовательной организации.</h1>
</div>